:root {
  --blue: #2ecc71;
  --gray: #ccc;
  --black: #666;
}

body {
  margin: 0;
}

.input {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--gray);
  color: var(--black);
  transition: all ease 0.3s;
  background: none;
}
.input:focus {
  border-bottom: 1px solid var(--blue);
}

.container {
  color: var(--black);;
  display: flex;
  flex-direction: column;
  width: 60vw;
  margin: 0 auto;
  padding: 20px;
  height: 100vh;
  box-sizing: border-box;
}
.options-c {
  margin-bottom: 40px;
}

.input-str {
  border-radius: 5px;
  vertical-align: top;
  transition: border,box-shadow ease 0.3s;
  border-color: var(--gray);
  resize: none;
  padding: 10px;
}
.input-str:focus {
  outline: none;
  box-shadow: 0px 0px 5px var(--blue);
  border: 1px solid var(--blue);
}

.btn {
  border: none;
  width: 90px;
  height: 40px;
  border-radius: 5px;
  transition: all ease 0.3s;
  color: var(--black);;
}
.btn:hover {
  cursor: pointer;
  background: var(--blue);
  color: #fff;
}
.btn:active {
  opacity: 0.7;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
}
.modal.active {
  visibility: visible;
}
.modal::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.loading{
  width: 80px;
  height: 40px;
  margin: 0 auto;
  margin-top: 20%;
  position: relative;
}
.loading span{
  display: inline-block;
  width: 8px;
  height: 100%;
  border-radius: 4px;
  background: lightgreen;
  -webkit-animation: load 1s ease infinite;
}
@-webkit-keyframes load{
  0%,100%{
      height: 40px;
      background: lightgreen;
  }
  50%{
      height: 70px;
      margin: -15px 0;
      background: lightblue;
  }
}
.loading span:nth-child(2){
  -webkit-animation-delay:0.2s;
}
.loading span:nth-child(3){
  -webkit-animation-delay:0.4s;
}
.loading span:nth-child(4){
  -webkit-animation-delay:0.6s;
}
.loading span:nth-child(5){
  -webkit-animation-delay:0.8s;
}

.progress-tip {
  position: relative;
  color: #f00;
  margin-top: 40px;
  height: 200px;
  overflow: auto;
  text-align: center;
}